---
import ArticlesLayout from '@/layouts/ArticlesLayout.astro';

const articles = await Astro.glob('./**/index.mdx');
---

<ArticlesLayout>
  {articles.map((article)=> { return (<div>
    <article.thumbnail />
    <a href={article.url}>{article.frontmatter.title}</a> 
  </div>) 
  })}
</ArticlesLayout>
