@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Text:ital@0;1&display=swap');

@import url('font.css');
@import url('color.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/** {*/
/*  position: static;*/
/*  z-index: 0;*/
/*}*/

:root {
    --bg-color: #11151A;
    --nt-color: #EED9B4;
    --lt-color: #3f4649;
    --lt2-color: #C0B39B;

	--half-bg-color: #11151Aaa;

    --pm-color: #f78928;
    /* #95E037; */
    --sd-color: #f78928;

    --mono-font: "DM Mono", monospace;
    --serif-font: "DM Serif Text", serif;
    --sans-font: "Poppins", sans-serif;
}

html {
     scroll-behavior: smooth;
     background-color: var(--bg-color);
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--nt-color);
}

a {
    color: var(--nt-color);
    cursor: pointer;
    transition: background-size 0.4s ease-in-out;
}

a:hover {
    color: var(--pm-color);
    background-size: 100% 100%;
}