.bg-color {
	color: var(--bg-color);
}

.nt-color {
	color: var(--nt-color);
}

.lt-color {
	color: var(--lt-color);
}

.lt2-color {
	color: var(--lt2-color);
}

.pm-color {
	color: var(--pm-color);
}

.pn-color {
	color: var(--pn-color);
}

.pn2-color {
	color: var(--pn2-color);
}

.bg-bg-color {
	background-color: var(--bg-color);
}

.bg-nt-color {
	background-color: var(--nt-color);
}

.bg-lt-color {
	background-color: var(--lt-color);
}

.bg-lt2-color {
	background-color: var(--lt2-color);
}

.bg-pm-color {
	background-color: var(--pm-color);
}

.bg-pn-color {
	background-color: var(--pn-color);
}

.bg-pn2-color {
	background-color: var(--pn2-color);
}
