@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: static;
  z-index: 0;
}

:root {
  --bg-color: #0E1215;
  --nt-color: #FFFFFF;
  --pm-color: #95E037;
  --pn-color: #27353D;

  --mono-font: "JetBrains Mono", monospace;
  --mono2-font: "Space Mono", monospace;
  --serif-font: "DM Serif Text", serif;
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--nt-color);
}

.mono-font {
  font-family: var(--mono-font);
}

.mono2-font {
  font-family: var(--mono2-font);
}

.serif-font {
  font-family: var(--serif-font);
}

.sans-font {
  font-family: var(--sans-font);
}

.bg-color {
  color: var(--bg-color);
}

.nt-color{
  color: var(--nt-color);
}

.pn-color{
  color: var(--pn-color);
}

.pm-color{
  color: var(--pm-color);
}


