---
import ProfileSection from '@/components/sections/ProfileSection.astro';
import MainFeed from '@/components/sections/MainFeed.astro';
import WritingSection from '@/components/sections/WritingSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="sokmontrey.me">
	<main class="mx-auto px-12 py-12 lg:px-32 lg:py-32 grid grid-cols-1 lg:grid-cols-[1fr_2fr_2fr] gap-12 lg:gap-16">
		<aside class="lg:sticky lg:top-20 lg:self-start">
			<ProfileSection />
		</aside>

		<section>
			<MainFeed />
		</section>

		<section>
			<WritingSection />
		</section>
	</main>
</BaseLayout>
