---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <header class='h-[100vh] flex justify-center items-center'>
    <div class="grid grid-cols-3 grid-rows-2 " id="hello-container" >
      <p class="text-9xl font-mono font-bold text-center">H</p>
      <p class="text-9xl font-mono font-bold text-center">E</p>
      <p class="text-9xl font-mono font-bold text-center">L</p>
      <p class="text-9xl font-mono font-bold text-center">L</p>
      <p class="text-9xl font-mono font-bold text-center">O</p>
      <p class="text-9xl font-mono font-bold text-center">.</p>
    </div>
  </header>
</BaseLayout>

<script>
  const hello_container = document.getElementById('hello-container');
  hello_container.textContent = '';
  const words = ['H', 'E', 'L', 'L', 'O', '.'];

  function createLetter(index) {
    if (index < words.length) {
      const letter = document.createElement('p');
      letter.style.fontSize = `${10}rem`;
      letter.style.fontFamily = `var(--mono-font)`;
      letter.style.lineHeight = `1`;
      letter.style.fontWeight = `bold`;
      letter.classList.add('letter');
      letter.textContent = words[index];

      hello_container.appendChild(letter);
      setTimeout(() => {
        createLetter(index + 1);
      }, (index + 1) * 100);
    }
  }

  setTimeout(()=> (createLetter(0)), 500);
</script>
