---
import BaseLayout from '@/layouts/BaseLayout.astro';
import GenArt from '@/components/GenArt.svelte';
import IntroProfile from '@/components/IntroProfile.svelte';
import AsciiBackground from '@/components/AsciiBackground.svelte';

---

<BaseLayout title="Home">
  <p class='text-[#ff5555] fixed top-0 left-0' >Site is under construction</p>

  <AsciiBackground client:only="svelte" />

  <header class='h-[100vh] w-[100vw] flex justify-center items-center relative z-10 '>
    <IntroProfile />
    <div class='flex flex-col '>
      <h1 class='bg-[var(--bg-color)] '>Hi,</h1>
      <p>This is Sokmontrey, me</p>
    </div>
  </header>

  <hr />

</BaseLayout>
