---
import BaseLayout from '@/layouts/BaseLayout.astro';
import IntroLayout from '@/layouts/IntroLayout.astro';

import NavBar from '@/components/NavBar.astro';
import SimpleHeader from '@/components/SimpleHeader.astro';
import InfoList from '@/components/InfoList.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import Links from '@/components/Links.astro';

import { toRoman } from '@/utils/number';
import { formatTitle } from '@/utils/text';

import { getCollection } from 'astro:content';
import Tree from "../components/Tree.astro";

const project_entries = await getCollection('projects');
const experience_entries = await getCollection('experiences');
const extra_curriculars_entries = await getCollection('extra-curriculars');

const contents = [
	{ name: "projects", entries: project_entries, num_show: 4 },
	{ name: "experiences", entries: experience_entries, num_show: 3, },
	{ name: "extra_curriculars", entries: extra_curriculars_entries, num_show: 4 },
];
---

<BaseLayout title={'Sokmontrey Sythat'} >
	<header class=" h-screen block-container " id="intro">
		<IntroLayout />
		<i class="fa-solid fa-arrow-down mt-10 nt-color animate-bounce"></i>
	</header>

	<main>
		<section class=" block-container h-[30vh] mb-[20vh]">
			<TableOfContents contents={[{name:'links'}].concat(contents)} />
		</section>

		<NavBar contents={[{name:'links'}].concat(contents)} />

		<section class="block-container h-[70vh] " id="links">
			<h1 class="pb-[15vh] text-4xl serif-font">Links</h1>
			<Links />
		</section>

		<section class="block-container py-[30vh]">
			<Tree />
			<!--<p class="sans-font">Figure 1.1: A tree</p>-->
		</section>

		<div class='mt-20'></div>
		{contents
			.map((content, i) =>
			<section class=" block-container pt-20 " id={content.name}>
				<div class="w-[90vw] md:w-[55vw]">
					<SimpleHeader text={formatTitle(content.name)} number={toRoman(i + 2)} />
					<InfoList 
						entries={content.entries}
						num_show={content.num_show!}
						id={content.name} />
				</div>
			</section>)}
	</main>

	<footer class="mt-[15vh] ">
		<div class=" block-container ">
			<h1 class=" serif-font h1 pb-4">Have a good one!</h1>
			<a href="#intro" class="rounded-xl nt-color hover:text-[var(--pm-color)] transition-all duration-200 mono-font ">
				<i class="fa-solid fa-arrow-up mt-10 mb-10"></i>
			</a>
		</div>
		<section class=" block-container mt-10 mb-[5vh] opacity-70 ">
			<p>&copy; 2024 Sokmontrey Sythat.</p>
		</section>
	</footer>
</BaseLayout>

<style>
.block-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    box-sizing: border-box;
}
</style>
