---
import BaseLayout from '@/layouts/BaseLayout.astro';
import IntroLayout from '@/layouts/IntroLayout.astro';
import TableOfContentLayout from '@/layouts/TableOfContentLayout.astro';
---

<BaseLayout title={'Home'} >
	<header>
		<IntroLayout />
		<TableOfContentLayout />
	</header>
	<main>

	</main>
</BaseLayout>
