---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <p class='text-[#ff5555] fixed top-0 left-0' >Site is under construction</p>

  <canvas width="100vw" height="100vh" class='absolute top-0 left-0 transition-opacity duration-500 ' id='welcome-canvas'></canvas>

  <header class='h-[100vh] w-[100vw] flex justify-center items-center '>
    <h1>Hello world</h1>
  </header>
  <header class='h-[100vh] w-[100vw] flex justify-center items-center '>
    <h1>Hello world</h1>
  </header>
</BaseLayout>

<script src='./ascii_background.js'></script>
