---
import ProfileSection from '@/components/sections/ProfileSection.astro';
import MainFeed from '@/components/sections/MainFeed.astro';
import WritingSection from '@/components/sections/WritingSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="sokmontrey.me">
	<main class="mx-auto max-w-[96rem] px-8 py-12 md:px-16 md:py-0 grid grid-cols-1 md:grid-cols-[1fr_2fr] xl:grid-cols-[1fr_2fr_1.3fr] gap-12 md:gap-16">
		<aside class="md:sticky md:top-0 md:self-start md:pt-24">
			<ProfileSection />
		</aside>

		<div class="md:col-start-2 md:col-span-1 xl:col-span-2 md:pt-24 md:pb-24 md:pr-2">
			<div class="grid grid-cols-1 xl:grid-cols-[2fr_1.3fr] gap-12 md:gap-16">
				<section>
					<MainFeed />
				</section>

				<section>
					<WritingSection />
				</section>
			</div>
		</div>
	</main>
</BaseLayout>
