---
import BaseLayout from '@/layouts/BaseLayout.astro';
import IntroProfile from '@/components/IntroProfile.svelte';
import AsciiBackground from '@/components/AsciiBackground.svelte';
---

<BaseLayout title="Home">
  <p class='text-[#ff5555] fixed top-0 left-0' >Site is under construction</p>

  <AsciiBackground client:only="svelte" />

  <header class='h-[100vh] w-[100vw] flex flex-col justify-center items-center relative z-10 '>
    <h1 class='flex-1 flex items-end '>Hi,</h1>
    <a href="#intro" class=' flex-1 flex flex-col justify-center items-center opacity-40 hover:opacity-100 hover:text-[var(--nt-color)] '>
      <p class='font-mono animate-bounce '>scroll down</p>
      <i class="fa-solid fa-arrow-down animate-bounce"></i>
    </a>
  </header>

  <hr />

  <section id="intro" class='flex items-center justify-center h-[100vh] w-[100vw] relative '>
    <IntroProfile />
    <p>This is Sokmontrey, Me.</p>
  </section>
</BaseLayout>
