<section class="text-gray-200">
    <h1 class="font-serif text-3xl">Hi, I'm Sokmontrey</h1>

    <div class="flex flex-row gap-2
whitespace-nowrap">
        <!-- First Row -->
        <div class="flex flex-col">
            <p class="text-gray-200">I</p>
            <p class="text-gray-200"></p>
            <p class="text-gray-200"></p>
        </div>

        <!-- Second Row -->
        <div class="flex flex-col">
            <p class="text-white">develop software</p>
            <p class="text-white">make robots</p>
            <p class="text-white">seek inspiration in things</p>
        </div>

        <!-- Third Row -->
        <div class="flex flex-col">
            <p class="text-gray-200">with intention and scalable code</p>
            <p class="text-gray-200">that work, sometimes</p>
            <p class="text-gray-200">that bridge art and technology</p>
        </div>
    </div>
</section>
