---
interface Props {
	height?: string;
	id: string;
};

const { height, id } = Astro.props;
---
<section id={id} class={` h-[${height || '100vh'}] flex flex-col justify-center items-center `}>
	<slot />
</section>
