<div class="w-full">
  <p class="serif-font text-[1rem] desc-container text-justify indent-7 mx-auto w-[300px] md:w-[400px]">
    Lorem ipsum dolor sit amet, consectetur <span class="hidden md:inline">tortor eu, aliquet</span>
    <span class="highlight1 duration-100">I’m Sokmontrey</span>, 
    rhoncus in 
    <a href="https://www.linkedin.com/in/sokmontrey-sythat-53ab23206/" target="_blank" class="highlight2 duration-[1000ms]">linkedin</a> 
    <span class="hidden md:inline">et, pharetra non urna</span>
    <span class="highlight1 duration-[900ms]">a math enthusiast</span> 
    Phasellus eget molestie dui. Praesent ullamcorper 
    <a href="https://github.com/sokmontrey" target="_blank" class="highlight2 duration-700 delay-[300ms]">github</a> 
    metus. pulvinar felis ut condimentum 
    <span class="highlight1 duration-500 delay-100">who’s discovering</span> 
    Duis in eros lacinia, feugiat 
    <span class="highlight1 duration-[200ms]">computer science.</span> 
    massa. Venour curabitur pretium elementum suscipit. In eu nibh tellus.
  </p>
</div>

<style>
  .desc-container {
    color: var(--pn-color);
  }

  .desc-container:hover > .highlight1 {
    color: var(--pn-color);
  }

  .desc-container:hover > .highlight2 {
    color: var(--pm-color);
    opacity: 1;
    animation: none;
  }

  .highlight1 {
    color: var(--nt-color);
  }

  .highlight2 {
    cursor: pointer;
    color: var(--pm-color);
    opacity: 0.3;
  }

  .highlight2:hover {
    color: var(--pm-color);
    text-decoration: underline;
  }
</style>


