---
import InfoCard from '@/components/InfoCard.astro';
import ShowMoreButton from './ShowMoreButton.astro';

import type { CollectionEntry } from 'astro:content';

type CollectionEntryType =
	CollectionEntry<'projects'> |
	CollectionEntry<'experiences'> |
	CollectionEntry<'extra_curriculars'>;

interface Props {
	entries: CollectionEntryType[];
	num_show: number;
	id: string;
}

const { entries, num_show, id } = Astro.props;
const sorted_entries = entries.sort((a, b) => b.data.date - a.data.date);
---

<ul class="py-4 pt-8 ">
	{sorted_entries.slice(0, num_show).map(entry => <InfoCard {entry} /> )}

	{sorted_entries.length > num_show ? <ShowMoreButton target_id={"more-" + id} /> : <></>}

	<div id={"more-" + id} class='hidden'>
		{sorted_entries.length > num_show 
		? sorted_entries.slice(num_show, entries.length).map(entry => <InfoCard {entry} /> )
		: <></> }
	</div>
</ul>
