---
interface Props {
  width: number;
  additional_width: number;
  str: string;
  postfix: string;
};

const { width, additional_width, str, postfix } = Astro.props;
---

<span class=''>{str}</span>
<span class='lt-color '>{'.'.repeat(width - str.length)}</span><!-- avoiding extra margin between spans
--><span class='lt-color hidden md:inline'>{'.'.repeat(additional_width)}</span>
<span set:html={postfix}></span>
