---
import links from '../data/links.json';
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 ">
    {links.filter(link => !link.draft).map((link, i) =>
        <div class="py-2 mono-font flex flex-col items-start"
        >
            <a href={link.url} target={link.is_not_external ? '' : '_blank'} class="link">
                {link.name}
                <i class={link.icon + ' '}></i>
                {!link.is_not_external ? <i class="lt-color fa-solid fa-arrow-right -rotate-45 text-sm"></i> : ''}
            </a>
            <span class="lt2-color opacity-70 sans-font group-hover:text-[var(--nt-color)]">
                {link.description}
            </span>
        </div>
    )}
</div>

<style>
    .link::before {
        content: '>';
        transition: all 0.1s ease-in-out;
    }

    .link:hover::before {
        margin-right : 0.3rem;
    }
</style>