---
import links from '../data/links.json';
---

<div class="grid grid-cols-2 -rotate-90">
    <div></div>
    <p class="lt2-color sans-font text-center border-b-2 border-[var(--lt-color)] pb-2 h2">
        Active-ness
    </p>
    <div class="flex flex-col items-end mr-4">
        {links.map((link, i) =>
            <a href={link.url} target="_blank" class="py-[1.1rem] text-sm mono-font rotate-45 origin-right lt2-color">
                { !link.is_not_external
                    ? <i class="fa-solid fa-external-link-alt lt-color rotate-45"></i>
                    : <></> }
                {link.name}
            </a>
        )}
    </div>

    <div class="flex flex-col border-l-2 border-[var(--lt-color)] pl-4 pr-4">
        {links.map((link, i) =>
            <p class="desc py-4 nt-color mono-font hover:rotate-90 origin-left transition-all duration-1000 ease-in-out">
                {link.description}
                <i class={link.icon + ' rotate-90 nt-color'}></i>
            </p>
        )}
    </div>
</div>

<style>
    a {
        transition: all 0.1s ease-in-out;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-underline-color: var(--lt-color);
    }

    a:hover {
        color: var(--pm-color);
	}

    .desc:hover ~ .desc {
        opacity: 0;
	}

    .desc > i {
        transition: all 1s ease-in-out;
    }

    .desc:hover > i {
        transform: rotate(0deg);
    }
</style>