---
import links from '../data/links.json';
---

<div class="flex flex-col items-start ">
    {links.map((link, i) =>
        <a class="py-2 mono-font " href={link.url} target={link.is_not_external ? '' : '_blank'}>
            <span class="nt-color"><i class={link.icon + ' '}></i></span>
            <span class="desc">{link.description}</span>
            <span class="lt-color">
                {link.name}
                {!link.is_not_external ? <i class="fa-solid fa-arrow-right -rotate-45 text-sm"></i> : ''}
            </span>
        </a>
    )}
</div>

<style>
    span {
        transition: all 0.2s ease-in-out;
    }

    .desc {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: var(--lt-color);
        text-underline-offset: 5px;
        cursor: pointer;
        transition: all 0.1s;
    }

    a:hover span {
        color: var(--pm-color);
    }

    a:hover .desc {
        text-decoration-color: var(--pm-color);
    }

    a {
        text-decoration: none;
    }
</style>