---
import links from '../data/links.json';
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 ">
    {links.filter(link => !link.draft).map((link, i) =>
        <a class="group py-2 mono-font flex flex-col items-start"
           href={link.url}
           target={link.is_not_external ? '' : '_blank'}
        >
            <span>
                <span class="hidden group-hover:inline group-active:px-1 transition-all duration-100 ease-in-out">
                    &gt;
                </span>
                {link.name}
                <i class={link.icon + ' '}></i>
                {!link.is_not_external ? <i class="lt-color fa-solid fa-arrow-right -rotate-45 text-sm"></i> : ''}
            </span>
            <span class="lt2-color sans-font group-hover:text-[var(--nt-color)]">
                {link.description}
            </span>
        </a>
    )}
</div>