---
const { entry } = Astro.props;
const { title, description, type, tags, url } = entry.data;
---

<div class="py-2 ">
    <h2 class="serif-font h1">
        {title}
    </h2>
    <p class="mono-font lt2-color">
        [{tags.join(', ')}]
    </p>
    <p class="sans-font mt-4">
        {description}
    </p>
</div>