---
const { title, url } = Astro.props;
---

<article class="py-[0.5rem]">
  <h2 class="serif-font inline nt-color text-[1.1rem] type-container"> 
    <span class="inline">{title}</span>
  </h2>
  <p class="inline serif-font text-[1.1rem] pn2-color">
    <slot/>
  </p>
</article>
