---
const { text, number } = Astro.props;
---
<div class='flex items-end '>
	<h1 class='serif-font h1 flex-1 '>{text}</h1>
	<p class='inline serif-font h2 -translate-y-3 lt-color'>{number}</p>
</div>
