---
import StuffContainer from '@/components/StuffContainer.astro';
---

<section class="pt-[1rem] p-[10rem]">
  <h1 class="section-header">
    Projects
  </h1>

  <StuffContainer 
  url="https://github.com/sokmontrey/nodeflow"
  title="Nodeflow" 
  type="prg." 
  type_alt="programming">
    a simple and highly extensible Computational graph library written in C++ with the support of auto diff.
  </StuffContainer>

  <StuffContainer 
  title="Eighter" 
  type="e-eng." 
  type_alt="electrical engineering">
    an 8 bit computer design and build from scratch on breadboards.
  </StuffContainer>

  <StuffContainer 
  url="https://github.com/sokmontrey/dynamical-js"
  title="Dynamical JS" 
  type="prg." 
  type_alt="programming">
    a 2D mass aggregated physic library written entirely from scratch in JavaScript.
  </StuffContainer>

  <h1 class="section-header">
    Community Involvements
  </h1>

  <StuffContainer 
  title="FRC 2024 (mentoring)"
  type="rbt." 
  type_alt="robotic">
    advising over the electrical and programming side for the FRC team 6977.
  </StuffContainer>
</section>

<style>
  .section-header {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-family: var(--serif-font);
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
  }

  .section-header:hover {
    opacity: 1;
  }
</style>

