---
const {title} = Astro.props;
---

<section class="p-[1rem] md:pt-[1rem] md:pb-[1rem] md:p-[10rem]">
  <h1 class="section-header">
    {title}
  </h1>
  <slot />
</section>


<style>
  .section-header {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    font-family: var(--serif-font);
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
  }

  .section-header:hover {
    opacity: 1;
  }
</style>

