---
const { title, type, type_alt, url } = Astro.props;
---

<article class="py-[0.5rem]">
  <h2 class="text-[1.5rem] serif-font">
    { url === undefined ? title 
      : <a href={url} target="_blank">{title}</a> }
  </h2>
  <p class="serif-font inline nt-color text-[1.1rem] type-container"> 
    (<span class="type">{type}</span><span class="type-alt">{type_alt}</span>)
  </p>
  <p class="inline serif-font text-[1.1rem] pn2-color">
    <slot/>
  </p>
</article>

<style>
  .type {
    display: inline;
  }

  .type-alt {
    display: none;
  }

  .type-container {
    cursor: pointer;
  }

  .type-container:hover .type {
    display: none;
  }

  .type-container:hover .type-alt {
    display: inline;
  }

  a {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

  a:hover {
    color: var(--pm-color);
    text-decoration: underline;
  }
</style>

