---
import { toRoman } from "@/utils/number";
import DotsLink from "./DotsLink.astro";

import type { SectionLinkContent } from '@/types/type';

interface Props {
	section_link_contents: SectionLinkContent[];
}

const { section_link_contents } = Astro.props as Props;
---

<div> 
	<h1 class=" serif-font h1 ">Contents</h1>
	<ul>
		{section_link_contents.map((content, i) => <li class="mono-font ">
			<DotsLink
				href = {`#${content.id}`}
				width={30}
				additional_width={30}
				str={content.name}
				postfix={toRoman(i + 1)}
			/>
		</li> )}
	</ul>
</div>
