---
import Description from '@/components/Description.astro';
import Tree from '@/components/Tree.astro';
---

<div class='flex flex-col w-[100vw] h-[100vh] justify-center items-center'>
  <div class="flex flex-row w-[300px] md:w-[400px]">
    <h1 class="serif-font text-[6rem] font-bold translate-y-4">hello.</h1>
    <Tree></Tree>
  </div>
  <Description></Description>
</div>
