<div class="w-full">
  <p class="serif-font text-[1.1rem] desc-container text-justify indent-7 mx-auto w-[300px] md:w-[400px]">
    <span class="highlight2">Lorem ipsum dolor sit amet, consectetur tortor <span class="hidden md:inline">eu, aliquet</span></span>
    <span class="highlight1">I'm Sokmontrey</span>, 
    <span class="highlight2">rhoncus in linkedin</span></span>
    <span class="highlight2"><span class="hidden md:inline">et, pharetra </span>non urna</span>
    <span class="highlight1">a math enthusiast</span> 
    <span class="highlight2">Phasellus eget molestie dui. <span class="hidden md:inline">Praesent ullamcorper </span> github</span>
    <span class="highlight2">metus. pulvinar felis ut condimentum </span>
    <span class="highlight1">who's discovering</span> 
    <span class="highlight2">Duis in eros lacinia, feugiat <span class="hidden md:inline">massa. Venour</span></span>
    <span class="highlight1">computer science.</span>
    <span class="highlight2">curabitur pretium elementum suscipit. In eu nibh tellus.</span>
  </p>
</div>

<style>
  .highlight2 {
    opacity: 0.15;
  }

  .highlight1 {
    color: var(--nt-color);
    opacity: 1;
  }
</style>
