---
import '@/styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
	
    <!--Icons-->
    <!-- <script src="https://kit.fontawesome.com/b71972c7cc.js" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
