---
import '@/styles/base.css';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<!--SEO-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--Icons-->
		<script is:inline src="https://kit.fontawesome.com/b71972c7cc.js" crossorigin="anonymous"></script>

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
