---
import '@/styles/global.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
	
	<!--Katex-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
		integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">

	<!--Icons-->
    <script src="https://kit.fontawesome.com/b71972c7cc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
