@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-color: #efefef;
  --ft-color: #c9ced1;
  --nt-color: #222831;
  --pm-color: #1961f0;
  --sd-color: #f05454;
}

@property --block{
  syntax: '<length>';
  inherits: true;
  initial-value: 1rem;
}

[data-theme="light"] {
  --bg-color: #efefef;
  --ft-color: #c9ced1;
  --nt-color: #222831;
  --pm-color: #1961f0;
  --sd-color: #f05454;
}

[data-theme="dark"] {
  --bg-color: #0E1115;
  --ft-color: #303436;
  --nt-color: #efefef;
  --pm-color: #4080FF;
  --sd-color: #f05454;
}

body {
  background-color: var(--bg-color);
  color: var(--nt-color);
}

a{
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 0.2em;
}

a:hover {
  background-color: var(--sd-color);
  color: var(--nt-color);
  padding: 0.1rem 0.2rem;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

.font-serif {
  font-family: "Libre Baskerville", serif;
}

.font-sans {
  font-family: "Work Sans", sans-serif;
}

.pm-color {
  color: var(--pm-color);
}

.sd-color {
  color: var(--sd-color);
}

.ft-color {
  color: var(--ft-color);
}

.bg-color {
  background-color: var(--bg-color);
}

.nt-color {
  color: var(--nt-color);
}

.bg-nt-color {
  background-color: var(--nt-color);
}

.bg-bg-color {
  background-color: var(--bg-color);
}

.bg-ft-color {
  background-color: var(--ft-color);
}

.bg-pm-color {
  background-color: var(--pm-color);
}

.bg-sd-color {
  background-color: var(--sd-color);
}

u {
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "JetBrains Mono", serif;
  font-weight: 700;
  color: var(--nt-color);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}
