@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #dbe3ec;
  --ft-color: #c9ced1;
  --nt-color: #13171e;
  --pm-color: #1961f0;
  --sd-color: #f05454;
}

@property --block {
  syntax: "<length>";
  inherits: true;
  initial-value: 1rem;
}

[data-theme="light"] {
  --bg-color: #dbe3ec;
  --ft-color: #c9ced1;
  --nt-color: #13171e;
  --pm-color: #1961f0;
  --sd-color: #f05454;
}

[data-theme="dark"] {
  --bg-color: #0e1115;
  --ft-color: #303436;
  --nt-color: #eeeeee;
  --pm-color: #4080ff;
  --sd-color: #f05454;

  --ac1-color: #85ff9e;
  --ac2-color: #fffb7d;
  --ac3-color: #ef7b45;
}

.font-mono {
  font-family: "JetBrains Mono", monospace;
}

.font-serif {
  font-family: "Libre Baskerville", serif;
}

.font-sans {
  font-family: "Manrope", sans-serif;
}

.pm-color {
  color: var(--pm-color);
}

.sd-color {
  color: var(--sd-color);
}

.ft-color {
  color: var(--ft-color);
}

.bg-color {
  color: var(--bg-color);
}

.nt-color {
  color: var(--nt-color);
}

.ac1-color {
  color: var(--ac1-color);
}

.ac2-color {
  color: var(--ac2-color);
}

.ac3-color {
  color: var(--ac3-color);
}

.bg-nt-color {
  background-color: var(--nt-color);
}

.bg-bg-color {
  background-color: var(--bg-color);
}

.bg-ft-color {
  background-color: var(--ft-color);
}

.bg-pm-color {
  background-color: var(--pm-color);
}

.bg-sd-color {
  background-color: var(--sd-color);
}

.bg-ac1-color {
  background-color: var(--ac1-color);
}

.bg-ac2-color {
  background-color: var(--ac2-color);
}

.bg-ac3-color {
  background-color: var(--ac3-color);
}

body {
  background-color: var(--bg-color);
  color: var(--nt-color);
}

a {
  transition: all 0.1s ease-in-out;
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 0.2em;
}

a:hover {
  /* background-color: var(--sd-color); */
  color: var(--nt-color);
  padding: 0.3rem 0rem;
}

u {
  text-decoration: underline;
  text-decoration-thickness: 0.01em;
  text-underline-offset: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  color: var(--nt-color);
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

hr {
  opacity: 10%;
  border: dashed 1px var(--nt-color);
  /* width: 50%; */
  /* margin: 0 auto; */
}
