---
const phrases = [
	["", "", "Lorem ipsum dolor sit amet, ", "consectetur adipiscing"],
	["", "", "Suspendisse diam libero, maximus sit ", "amet eros at,"],
	["euism ", "I'm Sokmontrey, ", "risus. Cras ", "ac varius"],
	["purus. ", "a math enthusiast ", "Cras metus ", "tortor, "],
	["ut, rhoncus ", "who's discovering ", "quis ", "augue."],
	["felis, ", "Computer Science, ", "vel egestas ", "dui congue"],
	["viverra lorem ", "Machine Learning, ", "", "nibh, at"],
	["Mauris vel", "and Art.", "turpis, ", "sodales "],
	["", "", "rutrum purus. Aliquam euismod ", "velit"],
	["", "", "Maecenas dignissim suscipit", "eleifend."]
];
---

<div class="px-4 md:px-0">
	<h1 class='serif-font text-[96px] nt-color flex-start '>
		Hello.
	</h1>
	<div class='mono-font'>
		{phrases.map(line => <p>
			<span class="lt-color ">{line[0]}</span>
			<span class="nt-color ">{line[1]}</span>
			<span class="lt-color ">{line[2]}</span>
			<span class="lt-color hidden md:inline">{line[3]}</span>
		</p>)}
	</div>
</div>
