---
import './global.css';
import ThemeToggle from '../components/ThemeToggle.svelte';

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title}</title>
  <meta name="description" content={description || "No description"}>
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">

  <script src="https://kit.fontawesome.com/b71972c7cc.js" crossorigin="anonymous"></script>
  <!--TODO: SEO-->
</head>
<body>
  <slot />
  <ThemeToggle client:only="svelte" />
</body>
</html>

