---
import './global.css';
const { title } = Astro.props;
---

<html lang="en" data-theme="dark" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title}</title>
  <meta name="description" content="Displaying projects and experience">

  <!--TODO: SEO-->
</head>
<body>
  <slot />
  <script>
    const storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
    if (storedTheme) document.documentElement.setAttribute('data-theme', storedTheme);

    function changeTheme() {
      const currentTheme = document.documentElement.getAttribute("data-theme");
      const theme = currentTheme === "dark" ? "light" : "dark";
      document.documentElement.setAttribute('data-theme', theme);
      localStorage.setItem('theme', theme);
    };
  </script>
</body>
</html>

