---
import DotsLink from '@/components/DotsLink.astro';
import links from '@/data/links.json';
---

<div>
	<h1 class=" serif-font h1 pb-4">Have a good one!</h1>
	<ul class="">
		{links.map((link, i) => <li class="mono-font">
			<DotsLink
				href={link.url}
				is_blank
				width={30}
				additional_width={30}
				str={link.name}
				postfix={`<i class="${link.icon}"></i>`}
			/> 
		</li>)}
	</ul>
</div>
