---
import projects from '@/data/projects.json';
---

<div>
	<h1 class='serif-font h1 '>projects</h1>
	<ul>
		{projects.map((item, i) => <li>
			<h2 class="serif-font">
				{item.title}
			</h2 >
		</li>)}
	</ul>
</div>
