---
import projects from '@/data/projects.json';
import project_configs from '@/data/project_configs.json';

import SimpleHeader from '@/components/SimpleHeader.astro';
import InfoList from '@/components/InfoList.astro';
---

<div class="w-[90vw] md:w-[55vw]">
	<SimpleHeader text="Projects" number="ii" />
	<InfoList 
		items={projects}  
		num_show={project_configs.num_show}
		id='projects'
	/>
</div>

