---
import DotsLink from '@/components/DotsLink.astro';

import { toRoman } from '@/utils/number.js';

import contents from '@/data/contents.json';
---

<div>
	<h1 class=" serif-font h1 ">contents</h1>
	<ul class=" ">
		{contents.map((content, i) => {
		return <li class="mono-font ">
			<DotsLink
				href = {content.url}
				width={30}
				additional_width={30}
				str={content.name}
				postfix={toRoman(i + 1)}
			/>
		</li> })}
	</ul>
</div>
