---
import BlockContainer from '@/components/BlockContainer.astro';
import LineWithDots from '@/components/LineWithDots.astro';

import { toRoman } from '@/utils/number.js';

import contents from '@/configs/contents.json';

interface Props {
	id: string;
}

const { id } = Astro.props;
---

<BlockContainer id={id}>
	<div>
		<h1 class=" serif-font text-[3rem] ">contents</h1>
		<ul class=" ">
			{contents.map((content, i) => {
			return <li class="mono-font "><a href={content.url}>
				<LineWithDots
					width={30}
					additional_width={30}
					str={content.name}
					postfix={toRoman(i + 1)}
				/>
			</a></li> })}
		</ul>
	</div>
</BlockContainer>
